<h1 [ngStyle]="{ 'text-align': 'center', padding: '15px' }">
  Angular Training
</h1>

<ul>
  <li>
    <a routerLink="/life-cycle-hooks">Life Cycle Hooks</a>
  </li>

  <li>
    <a routerLink="/switch-case">Switch Case</a>
  </li>

  <li>
    <a routerLink="/testing-children">Testing Children</a>
  </li>

  <li>
    <a routerLink="/custom-directive-yellow-marker"
      >Custom Directive: Yellow Marker</a
    >
  </li>

  <li>
    <a routerLink="/testing-angular-material">Testing Angular Material</a>
  </li>

  <li>
    <a routerLink="/form">Angular Forms</a>
  </li>

  <li>
    <a routerLink="/books-test-api">Testing Books API</a>
  </li>

  <li>
    <a routerLink="/rxjs-operators">RxJS Operators</a>
  </li>
</ul>
