:host {
  .reactive-form {
    .invalid {
      color: red;
      display: block;
    }

    .ng-invalid:not(form).ng-dirty,
    .ng-invalid:not(form).ng-touched {
      border: 1px solid red;
    }

    .form-control {
      padding: 20px 10px;

      input {
        display: block;

        &:focus {
          outline: none;
        }
      }
    }

    button {
      background-color: #ccc;
      color: #fff;
      border: none;
      border-radius: 5px;
      display: block;
      margin-inline: auto;
      margin-top: 10px;
      padding: 8px 14px;
    }

    button:not(.disabled) {
      background-color: #28d;
      color: #fff;
    }

    button:not(.disabled):hover {
      background-color: #25d;
    }

    button:not(.disabled):active {
      opacity: 0.9;
    }
  }
}
