.tasks-container {
  align-items: center;
  background-color: #5f4a2f;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-evenly;
  padding: 13px;
}

.tasks {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
